{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>ART & CULTURAL</title>

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/tooplate-artxibition.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

<!-- this later added -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400" rel="stylesheet" />
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />


    </head>
    
    <body>


        
    <!-- ***** Pre HEader ***** -->
    <!-- <div class="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <span>Namaste to Our StoryTeller/Seeker!</span>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="text-button">
                       <button class="contactbutton"> <a href="contactpage.html">Contact Now <i class="fa fa-arrow-right"></i></a></button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    {% if messages %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'create_post' %}">CREATE NEW POST HERE</a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="{% url 'index' %}" class="active">Home</a></li>
                            <!-- <li><a href="#about">About Us</a></li> -->
                            <!-- need to change upper amazing venues to about us here and below later -->

                            <li><a href="#post">See Posts</a></li>
                            <!-- <li><a href="discovernew.html">Discover More</a></li> -->

                            <li><a href="{% url 'contact' %}">Contact</a></li>

                            <!-- <li><a href="tickets.html">Tickets</a></li>  -->
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->


    <!-- ***** er Area Start ***** -->
    <div class="main-banner" style="background-image: linear-gradient(rgba(33, 8, 96, 0.974), rgba(39, 241, 224, 0.229)), url('{% static "assets/images/art.jpg" %}')">

        <!-- url(assets/images/art.jpg) -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        
                        <h5 class="add-white">Hey, Seems Like You're Interested In Our Artists!</h5>
                        <h2> LOOK AT OUR ARTSY CREATIVE GEEKS</h2>
                        <div class="main-white-button">
                            <!-- <input type="text" id="input-box" placeholder="Anything specific ?, Let us know the keyword"> -->
                            <!-- <button>SEARCH</button> -->
<!--                            <a href="{% url 'create_topic' %}">CREATE NEW POST HERE</a> -->
                          <a href="{% url 'create_post' %}">CREATE NEW POST HERE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- *** Owl Carousel Items ***-->
    <div class="show-events-carousel">
        <div class="container">
            <div class="row">
                <div id="post"
                <div class="col-lg-12">
                    <div class="owl-show-events owl-carousel">
                        <div class="item">
                            <a href="event-details.html"><img class="img-fit" src="assets/images/carousellimg1.jpg" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img class="img-fit" src="assets/images/carousellimg3.jpg" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img class="img-fit" src="assets/images/carousellimg2.jpg" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img class="img-fit" src="assets/images/carousellimg5.jpg" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img class="img-fit" src="assets/images/carousellimg1.jpg" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img class="img-fit" src="assets/images/shrayimg5.jpg" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img class="img-fit" src="assets/images/carousellimg2.jpg" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img class="img-fit" src="assets/images/carousellimg5.jpg" alt=""></a> 
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ART POSTS SHOWCASE -->

    <!-- latest postss nepashray -->
    <div id="latests">
        <div class="venue-tickets"> 
            <div class="container-fluid">
               <div class="row">
                   <div class="col-lg-12">
                       <div class="section-heading">
                           <h2>RELEVANT POSTS</h2>
                       </div>
                   </div>
                   <div class="col-lg-4">
                       <div class="venue-item">
                           <div class="thumb">
                               <img src="{% static 'assets/images/skatee.jpg' %}" alt="">
                           </div>
                           <div class="down-content">
                               <div class="left-content">
                                   <div class="main-white-button">
                                       <a href="viewpage.html">VIEW</a>
                                   </div>
                               </div>
                               <div class="right-content">
                                   
                                   <h4>SKATEBOARDERS OF NEPAL</h4>
                                   <div class="price">
                                       <span>posted<br>by <b>Ronish Dahal</b></span>
                                   </div>
   
                                   <p>See Story of the Skate Jatra Event that happened in Butwal, Nepal on 15th January,2024.
                                   <ul>
                                       <li><i class="fa fa-thumbs-up"></i>250</li>
                                       <li><i class="fa fa-eye"></i>500</li>
                                   </ul>
                               </div> 
                           </div>
                       </div>
                   </div>
   
                   <div class="col-lg-4">
                       <div class="venue-item">
                           <div class="thumb">
                               <img src="{% static 'assets/images/embroidery.jpg' %}" alt="">
                           </div>
                           <div class="down-content">
                               <div class="left-content">
                                   <div class="main-white-button">
                                       <a href="viewpage.html">VIEW</a>
                                   </div>
                               </div>
                               <div class="right-content">
                                   
                                   <h4>EMBROIDERY CRAFT</h4>
                                   <div class="price">
                                       <span>posted<br>by <b>Avilasha Malla</b></span>
                                   </div>
   
                                   <p>Amidst Himalayas, in Solukhumbu Region, people practice crafts for creative expression.</p>
                                   <ul>
                                       <li><i class="fa fa-thumbs-up"></i>270</li>
                                       <li><i class="fa fa-eye"></i>400</li>
                                   </ul>
                                   <!-- <div class="price">
                                       <span>1 ticket<br>from <em>$45</em></span>
                                   </div> -->
                               </div> 
                           </div>
                       </div>
                   </div>
   
                   <div class="col-lg-4">
                       <div class="venue-item">
                           <div class="thumb">
                               <img class="image-contain" src="{% static 'assets/images/sarrr.jpg'%}" alt="">
                           </div>
                           <div class="down-content">
                               <div class="left-content">
                                   <div class="main-white-button">
                                       <a href="viewpage.html">VIEW</a>
                                       <!-- mathiko view need to change link -->
                                   </div>
                               </div>
                               <div class="right-content">
                                   
                                   <h4>SARANGI KA DHUN</h4>
                                   <div class="price">
                                       <span>posted<br>by <b>Yunesh Gandarva</b></span>
                                   </div>
   
                                   <p>The soothing nepali folk music! Join Yunesh and have a delightful musical experience for a good mood!</p>
                                   <ul>
                                       <li><i class="fa fa-thumbs-up"></i>280</li>
                                       <li><i class="fa fa-eye"></i>500</li>
                                   </ul>
                                   <!-- <div class="price">
                                       <span>1 ticket<br>from <em>$45</em></span>
                                   </div> -->
                               </div> 
                           </div>
                       </div>
                   </div>
                   
                </div>
           </div>
        </div>       

    </body>

</html>
