{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Tooplate">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

  <title>{{topic.title}}</title>


  <!-- Additional CSS Files -->
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/owl-carousel.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/tooplate-artxibition.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400" rel="stylesheet" />
  <link href="{% static 'css/main.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'assets/css/blog.css' %}">

<style>
    @keyframes flyToPost {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-100px);
    opacity: 1;
  }
  100% {
    transform: translateY(-200px);
    opacity: 0;
  }
}

@keyframes appearAtPost {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.message {
  padding: 10px 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.post-box {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
a{
  text-decoration: none;
  color: inherit;

}
a:hover
{
  text-decoration: none;
  color: inherit;
}


</style>
<style>
  body{
    /* font-family: Arial, Helvetica, sans-serif; */
font-size: 16px; /* Font size in pixels */
line-height: 1.5; /* Line spacing as a multiplier of the font size */
background-color: #f5f5f5; /* Lighter background color for better contrast */
color: #212529; /* Darker text color for better contrast */
}
  
</style>
</head>

<body>
  <div class="pre-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <span>Namaste to Our StoryTeller/Seeker!</span>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="text-button">
                   <button class="contactbutton"> <a href="{% url 'contact' %}">Contact Now <i class="fa fa-arrow-right"></i></a></button>
                   {% if user.is_authenticated %}
                   <button class="contactbutton" style="margin-left: 10px;"> <a href="{% url 'signout' %}"">Log out  <i class="fa fa-arrow-right"></i></a></button>
                   {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky" style="background-color: #f5f5f5;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'index' %}" class="logo">NEP<em>आश्रय</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'listofpost' %}">Watch all</a></li>


                        
                        <!-- <li><a href="{% url 'authregister' %}">Register</a></li>  -->
                        <!-- <li><a href="tickets.html">Tickets</a></li>  -->
                    </ul>        
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Pre HEader ***** -->
  <!-- <div class="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <span> LETS EXPLORE! </span>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="text-button">
                       <button class="contactbutton"> <a href="feedback.html">Feedbacks <i class="fa fa-arrow-right"></i></a></button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


  <div class="container">
    <header>
      <h3 class="heading-1">{{topic.title.title}} </h3>
      <h3> </h3>
      <div class="sub-heading">

        <p>Covered by {{topic.author}}, at <span>{{topic.post_date}}</span></p>
        <p class="importent" style="color: rgb(147, 34, 34);">
            {% for category in topic.category.all %}
                {{ category.name }} 
                {% if not forloop.last %}, {% endif %}
              {% endfor %}
        </p>



      </div>
    </header>

    <div class="main">
      <div class="home">
        <div class="left">
          <!-- <img src="{% static 'assets/images/skate.jpg' %}" class="home-img" alt="Paper photo" style="height: 30%; width: 40%;"> -->
          {%if images%}
            {% for image in images %}
          <!-- <div class="thumb" style="object-fit: cover; height: 350px;"> -->
            <img src="{{ image.image.url }}" alt="{{post.title}}" style="height: 30%; width: 40%;" />
          <!-- </div> -->
          {% endfor %}
            {% endif %}
          <!-- start -->
          <!-- 
              < video width="320" height="240" controls>
    < source src="assets/images/film1.mp4" type="video/mp4">
    Your browser does not support the video tag.
  < /video> -->


          <!-- end -->

          <!-- <h2 class="heading-2">
                Lorem ipsum dolor sit amet consectetur adipisicing elit cupiditate possimus.
              </h2> -->
        </div>

        <!-- <div class="right">
              <h3 class="heading-3">latest news</h3>
              <div class="lists">
                <div class="list">
                  <img src="img/list-img-1.jpg" alt="photo 1">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, veritatis!</p>
                </div>
    
                <div class="list">
                  <img src="img/list-img-2.jpg" alt="photo 2">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, veritatis!</p>
                </div>
    
                <div class="list">
                  <img src="img/list-img-3.jpg" alt="photo 3">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, veritatis!</p>
                </div>
    
                <div class="list">
                  <img src="img/list-img-4.jpg" alt="photo 4">
                  
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio, veritatis!</p>
                </div>
              </div> -->
        <!-- </div> -->
      </div>
      <br>
      <article>
        <p>
         {{topic.long_description | safe}}
        </p>

        <br><br>


        <!-- back button here   -->
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <a href="{% url 'listofpost' %}" class="btn btn-primary">Back</a>
            </div>
          </div>
<!-- only if the post is verified -->
{% if topic.is_verified %}


        {% if user %}
        <!-- Like, Comment, Share, Report Section -->
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="d-flex justify-content-start align-items-center mb-4">
                        <!-- Like Button -->
                        <button class="btn btn-outline-primary mr-4 like-button" data-post-id="{{ topic.id }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                            </svg>
                            <span id="like_count{{topic.id}}">Like</span>

                        </button>
        
                        <!-- Share Button -->
                        <!-- <button class="btn btn-outline-info mr-4" onclick="sharePost()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
                            </svg>
                            Share
                        </button> -->
        
                        <!-- Report Button -->
                        <button class="btn btn-outline-danger" onclick="reportPost()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill" viewBox="0 0 16 16">
                                <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
                            </svg>
                            <a href="{% url 'report' topic.id %}">Report</a>
                        </button>
                    </div>
                    <!-- <div>
                        <textarea id="commentInput" class="form-control mb-3" rows="3" placeholder="Write a comment..."></textarea>
                        <button class="btn btn-outline-success btn-block" onclick="submitComment()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-square-heart-fill" viewBox="0 0 16 16">
                                <path d="M2 0a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h2.5a1 1 0 0 1 .8.4l1.9 2.533a1 1 0 0 0 1.6 0l1.9-2.533a1 1 0 0 1 .8-.4H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6 3.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                            </svg>
                            Comment
                        </button>
                    </div> -->
                    <h4>COMMENTS:</h4>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form id="CommentForm" method="post" action="/addcomment{{ topic.id }}/" class="mb-3">
        {% csrf_token %}
        <div class="form-group">
          <label for="comment">Add comment:</label>
          <input type="text" class="form-control" id="id_comment" name="comment-content">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>



{%if comments %}

{% comment %} <button class="display-comment" onclick="toggleContent()">Comment</button>


<div id="hideContent">
 </div> {% endcomment %}
<br>
<br>
<style>
  .comment-container {
    background-color: #fbfbfc; /* Dark background color */
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    transition: all 0.3s; /* Add transition for all properties */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Initial box shadow */
  }
  .comment-container:hover {
    transform: scale(1.05); /* Increase size on hover */
    background-color: #9aa7b4; /* Darker background color */
    box-shadow: 0 4px 8px rgba(172, 149, 149, 0.2); /* Add shadow on hover */
  }
  .comment-content {
    font-size: 16px; /* Larger font size */
    color: #ffffff; /* Light text color for better contrast */
  }
  .comment-meta {
    font-size: 14px; /* Larger font size for meta */
    color: #dee2e6; /* Lighter text color */
  }
</style>

{% for comment in comments %}
<div class="comment-container">
  <p class="comment-content" style="color: black;">{{ comment.content }}</p>
  <p class="comment-meta" style="color: #495057;">Posted by:   {{ comment.author }}   on   {{ comment.postedOn }}</p>
</div>
{% endfor %}

     



{%endif%}

                </div>
            </div>
        </div>
        {% else %}
        <div style="margin-top: 50px;">
            <p class="request">Please <a href="{% url 'authregister' %}" style=" border: 2px solid #ccc; border-radius: 10px; padding: 10px;text-decoration: none; color: #007bff; text-decoration: underline; font-weight: bold;">login</a> to like and comment on this post.</p>
        </div>
        {% endif %}
        
            </div>
          </div>
         
          
          <div id="postBox" class="post-box d-none">
            <div id="message" class="message"></div>
          </div>

    

      </article>
    </div>
  </div>


{%endif%}





<script>
   function submitComment() {
  var comment = document.getElementById('commentInput').value.trim();
  if (comment !== '') {
    var message = document.getElementById('message');
    message.textContent = comment;
    message.style.animation = 'flyToPost 1s forwards';

    setTimeout(function() {
      var postBox = document.getElementById('postBox');
      postBox.classList.remove('d-none');
      message.style.animation = 'appearAtPost 1s forwards';
    }, 500);
    setTimeout(function() {
  message.style.animation = 'none'; // Disable animation
  message.style.opacity = '0'; // Hide the message
  setTimeout(function() {
    postBox.classList.add('d-none'); // Hide the post box
  }, 1000); // Wait for the message to fade out before hiding the post box
}, 5000); 

    document.getElementById('commentInput').value = ''; // Clear the comment input
  }
}


</script>

  <!-- jQuery -->
  <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

  <!-- Bootstrap -->
  <script src="{% static 'assets/js/popper.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

  <!-- Plugins -->
  <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
  <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'assets/js/imgfix.min.js' %}"></script>

  <!-- Global Init -->
  <script src="{% static 'assets/js/custom.js' %}"></script>
  <script src="{% static 'assets/js/blog.js' %}"></script>

  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
