{%load static%}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>NEPASHRAY</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/tooplate-artxibition.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

<!-- this later added -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400" rel="stylesheet" />
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />

    <style>
        a {
            text-decoration: none;
            color: black;
        }
        

    </style>
    </head>
    
    <body>
    <!-- ***** Pre HEader ***** -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    {% if username %}
                    <span>Welcome, {{username|capfirst}}</span>
                    {% else %}
                    <span>Namaste to Our StoryTeller/Seeker!</span>
                    {% endif %}
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="text-button">
                       <button class="contactbutton"> <a href="{% url 'contact' %}">Contact Now <i class="fa fa-arrow-right"></i></a></button>
                       {% if user.is_authenticated %}
                       <button class="contactbutton" style="margin-left: 10px;"> <a href="{% url 'signout' %}"">Log out <i class="fa fa-arrow-right"></i></a></button>
                       {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'index' %}" class="logo">NEP<em>आश्रय</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="{% url 'index' %}" class="active">Home</a></li>
                            <li><a href="#about">About Us</a></li>
                            <!-- need to change upper amazing venues to about us here and below later -->

                            <li><a href="#latests">Explore Latests</a></li>
                            <li><a href="{% url 'listofpost' %}">Watch</a></li>


                            {% if user.is_authenticated %}
                            <li><a href="{% url 'upload' %}">Dashboard</a></li>
                            <!-- <li>Upload</li> -->
                        {% else %}
                            <li><a href="{% url 'authregister' %}">Register</a></li>
                        {% endif %}
                            <!-- <li><a href="{% url 'authregister' %}">Register</a></li>  -->
                            <!-- <li><a href="tickets.html">Tickets</a></li>  -->
                            <!-- <i class="bi bi-search"></i> -->
                            
                              <a href="{% url 'search' %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" style="margin-top: 10px; margin-left:10px; text-decoration:none;color:black; pointer-events:none">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                              </svg></a>
        
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** er Area Start ***** -->
    <div class="main-banner">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        
                        <h5 class="add-white">A Creative Space for Nepal's Finest Artifacts & Artisans</h5>
                        <h2> STORIES | PROVINCES | CULTURE</h2>

                        <div class="main-white-button">
                            <!-- <input type="text" id="input-box" placeholder="Anything specific ?, Let us know the keyword"> -->
                            <!-- <button>SEARCH</button> -->
                           <!-- <a href="{% url 'search' %}">TAP  TO  SEARCH</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- *** Owl Carousel Items ***-->
    <div class="show-events-carousel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-show-events owl-carousel">
                        <div class="item">
                            <a href=""><img class="img-fit" src="{% static 'assets/images/carousellimg1.jpg'%}" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="#"><img class="img-fit" src="{% static 'assets/images/carousellimg3.jpg'%}" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="#"><img class="img-fit" src="{% static 'assets/images/carousellimg2.jpg'%}" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="#"><img class="img-fit" src="{% static 'assets/images/carousellimg5.jpg'%}" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="#"><img class="img-fit" src="{% static 'assets/images/carousellimg1.jpg'%}" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="#"><img class="img-fit" src="{% static 'assets/images/shrayimg5.jpg'%}" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="#"><img class="img-fit" src="{% static 'assets/images/carousellimg2.jpg'%}" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="#"><img class="img-fit" src="{% static 'assets/images/carousellimg5.jpg'%}" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="#"><img class="img-fit" src="{% static 'assets/images/koshibg.jpg'%}" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="#"><img class="img-fit" src="{% static 'assets/images/koshiibg.jpg'%}" alt=""></a> 
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="coming-events">
        <!-- the seven provinces listed // old coming events -->
        <div class="left-button">
            <div class="main-white-button">
                <a href="{% url 'discover' %}">Watch Genres</a>
            </div>
        </div>

        <!-- the seven provinces listed -->
        <div class="container" style="margin-top: -50px;">
            <div class="row">
            
                <h1 class="add-white mb-3 justify-content-center" style="margin-left: 100px;"> || IMMERSE INTO THE RICHNESS OF OUR 7 PROVINCES ||</h1><br><br><br><br>
                
                <!-- single card start -->
                <!-- <div class="col-lg-3 ml-5 mb-3">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="province1.html"><img class="img-fit" size="20px" src="{% static 'assets/images/shrayimg1.jpg'%} " alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="province1.html"><h4>KOSHI </h4></a>
                            <ul>
                                <li style="text-align: center;">Province One | The Land of Himalayas</li>
                                <li><i class="fa fa-map-marker"></i> Biratnagar [Capital] </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <!-- single card start -->
                {% for province in provinces %}
                <div class="col-lg-3 ml-5 mb-3">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="{% url "province" province.name %}"><img class="img-fit" size="20px" src="{{province.image.url}}" alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="{% url "province" province.name %}"><h4>{{province.name}} </h4></a>
                            <ul>
                                <li style="text-align: center;">{{province.description}}</li>
                                <li><i class="fa fa-map-marker"></i> {{province.capital}} [Capital] </li>
                            </ul>
                        </div>
                    </div>
                </div>

                {% endfor %}

                <!-- <div class="col-lg-3 ml-5">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="province2.html"><img class="img-fit" size="20px" src="{% static 'assets/images/shrayimg6.jpg'%} " alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="province2.html"><h4>MADHESH </h4></a>
                            <ul>
                                <li style="text-align:center;">Province Two | The Land of Mithila Art</li>
                                <li><i class="fa fa-map-marker"></i> Janakpur [Capital]</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ml-5">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="province3.html"><img class="img-fit" size="20px" src="{% static 'assets/images/shrayimg2.jpg'%} " alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="province3.html"><h4>BAGMATI </h4></a>
                            <ul>
                                <li style="text-align: center;">Province Three | The Land of Diverse Streets</li>
                                <li><i class="fa fa-map-marker"></i> Hetauda [Capital]</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="province4.html"><img class="img-fit" size="20px" src="{% static 'assets/images/shrayimg3.jpg'%} " alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="province4.html"><h4>GANDAKI</h4></a>
                            <ul>
                                <li style="text-align: center;">Province Four | The Land of Lakes, Mountains and Adventure</li>
                                <li><i class="fa fa-map-marker"></i> Pokhara [Capital]</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="province5.html"><img class="img-fit" size="20px" src="{% static 'assets/images/shrayimg4.jpg'%} " alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="province5.html"><h4>LUMBINI</h4></a>
                            <ul>
                                <li style="text-align: center;">Province Five | The Birth Place of Gautam Buddha</li>
                                <li><i class="fa fa-map-marker"></i> Deukhuri [Capital]</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="province6.html"><img class="img-fit" size="20px" src="{% static 'assets/images/shrayimgxx.jpg'%} " alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="province6.html"><h4>KARNALI </h4></a>
                            <ul>
                                <li style="text-align: center;">Province Six | The Land of Spirituality</li>
                                <li><i class="fa fa-map-marker"></i> Birendranagar [Capital]</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="province7.html"><img class="img-fit" size="20px" src="{% static 'assets/images/shrayimgxxx.jpg'%} " alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="province7.html"><h4>SUDURPASCHIM </h4></a>
                            <ul>
                                <li style="text-align: center;">Province Seven | The Land of Numerous National Parks</li>
                                <li><i class="fa fa-map-marker"></i> Godawari [Capital]</li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                
            </div>
        </div>
    </div>
    
    <!-- *** About Us ***-->
    <div id="about">
    <div class="amazing-venues">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="left-content">
                        <h4>ABOUT US<br></h4>
                        <p>
                            <br>At Nepashraya, our mission is to showcase the diverse and enchanting tapestry of Nepal's seven provinces. With a keen focus on art, culture, music, biodiversity, food, and more, we bring you a unique and immersive experience that captures the essence of each province.<br>
                            
                            <br><br><b>{ What Sets Us Apart }<br><br></b>
                            Student-Crafted Excellence:<br> Our team, passionate about storytelling, combines academic prowess with a creative flair to present Nepal like never before.<br>
                            
                            <br>Seven Provinces, Infinite Stories:<br> Explore the richness of each province through engaging narratives, visual masterpieces, and firsthand experiences shared by our community.<br>
                            
                            <br>Interactive Engagement:<br> Nepashraya is not just a platform to view stories but a space for you to contribute. Share your own tales, perspectives, and experiences to enrich our collective narrative.<br>
                            
                            <br>Join us in this captivating journey of discovery and connection. <br><b>Nepashraya - Where Stories Unfold.</b>
                        </p>
                    </div>
                </div>
                <!-- <div class="col-lg-3">
                    <div class="right-content">
                        <h5><i class="fa fa-map-marker"></i> Visit Us</h5>
                        <span>5 College St NW, <br>Norcross, GA 30071<br>United States</span>
                        <div class="text-button"><a href="show-events-details.html">Need Directions? <i class="fa fa-arrow-right"></i></a></div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>


    <!-- *** Map ***
    <div class="map-image">
      
        <img src="assets/images/street.jpg" alt="Map of Nepal">
    </div>


    <!- *** Venues & Tickets ***-->

    <!-- latest postss nepashray -->
    <div id="latests">
     <div class="venue-tickets"> 
         <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>LATEST POSTS</h2>
                    </div>

                </div>
                {% for post in latest_posts %}
 {% if post.is_verified %}
 <div class="col-lg-4">
   <div class="venue-item" style="margin-bottom: 30px;">
     {% for image in post.t_image_set.all %}
     <div class="thumb" style="object-fit: cover; height: 350px;">
       <img src="{{ image.image.url }}" alt="{{post.title}}" />
     </div>
     {% endfor %}
     <div class="down-content"style="height: 450px;">
       <div class="left-content">
         <div class="main-white-button">
           <a href="{% url 'detailed_view' post.id %}">VIEW</a>
         </div>
       </div>
       <div class="right-content" style="height: 350px;">
         <h4>{{ post.title.title| slice:50 }}</h4>
         <div class="price">
           <span>posted<br>by <b> {{post.author.title}}</b></span>
       </div>
         <p style="margin-top: 0px;">{{ post.long_description | slice:"200" }}</p>
         <ul>
           <li><i class="fa fa-thumbs-up"></i>{{post.total_likes}}</li>
           <li><i class="fa fa-eye"></i>{{post.views}}</li>
         </ul>
       </div>
     </div>
   </div>
 </div>
 {% endif %}
 {% endfor %}





    <!-- *** Footer *** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="address">
                        <h4>FOUNDERS </h4>
                        <span>Shreyansi Shrestha</span><br>
                        <span>Sujan Sapkota</span><br>
                        <span>Uchit Ghimire</span><br>
                        <span>Wagmi Dahal</span>
                    </div>
                </div>

            
               
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="logo"><a href="{% url 'index' %}"><span>NEP<em>आश्रय</em></span></a></div>
                            </div>
                            <div>

                                © 2024 NEPआश्रय All Rights Reserved.
                            </div>
                            <!-- <div class="col-lg-3">
                                <div class="social-links">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

  <!-- jQuery -->
<script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'assets/js/popper.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- Plugins -->
<script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets/js/imgfix.min.js' %}"></script>
<script src="{% static 'assets/js/mixitup.js' %}"></script>
<script src="{% static 'assets/js/accordions.js' %}"></script>
<script src="{% static 'assets/js/owl-carousel.js' %}"></script>

<!-- Global Init -->
<script src="{% static 'assets/js/custom.js' %}"></script>

  </body>
</html>