{%load static%}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>NEPASHRAY</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/tooplate-artxibition.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

<!-- this later added -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400" rel="stylesheet" />
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet" />


    </head>
    
    <body>
        
    <!-- ***** Preloader Start ***** -->
    <!-- <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>    
    </div> -->
    <!-- ***** Preloader End ***** -->
    
    <!-- ***** Pre HEader ***** -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <span>Namaste to Our StoryTeller/Seeker!</span>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="text-button">
                       <button class="contactbutton"> <a href="{% url 'contact' %}">Contact Now <i class="fa fa-arrow-right"></i></a></button>
                       {% if user.is_authenticated %}
                       <button class="contactbutton" style="margin-left: 10px;"> <a href="{% url 'signout' %}"">Log out <i class="fa fa-arrow-right"></i></a></button>
                       {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'index' %}" class="logo">NEP<em>ASHRAYA</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="{% url 'index' %}" class="active">Home</a></li>
                            <li><a href="#about">About Us</a></li>
                            <!-- need to change upper amazing venues to about us here and below later -->

                            <li><a href="#latests">Explore Latests</a></li>
                            <li><a href="{% url 'discover' %}">Watch Genres</a></li>


                            {% if user.is_authenticated %}
                            <li><a href="{% url 'create' %}">Upload</a></li>
                            <!-- <li>Upload</li> -->
                        {% else %}
                            <li><a href="{% url 'authregister' %}">Register</a></li>
                        {% endif %}
                            <!-- <li><a href="{% url 'authregister' %}">Register</a></li>  -->
                            <!-- <li><a href="tickets.html">Tickets</a></li>  -->
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** er Area Start ***** -->
    <div class="main-banner">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        
                        <h5 class="add-white">A Creative Space for Nepal's Finest Artifacts & Artisans</h5>
                        <h2> STORIES | PROVINCES | CULTURE</h2>
                        <div class="main-white-button">
                            <!-- <input type="text" id="input-box" placeholder="Anything specific ?, Let us know the keyword"> -->
                            <!-- <button>SEARCH</button> -->
                           <a href="{% url 'search' %}">TAP  TO  SEARCH</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- *** Owl Carousel Items ***-->
    <div class="show-events-carousel">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="owl-show-events owl-carousel">
                        <div class="item">
                            <a href="event-details.html"><img class="img-fit" src="{% static 'assets/images/carousellimg1.jpg'%}" alt=""></a>
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img class="img-fit" src="{% static 'assets/images/carousellimg3.jpg'%}" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img class="img-fit" src="{% static 'assets/images/carousellimg2.jpg'%}" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img class="img-fit" src="{% static 'assets/images/carousellimg5.jpg'%}" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img class="img-fit" src="{% static 'assets/images/carousellimg1.jpg'%}" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img class="img-fit" src="{% static 'assets/images/shrayimg5.jpg'%}" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img class="img-fit" src="{% static 'assets/images/carousellimg2.jpg'%}" alt=""></a> 
                        </div>
                        <div class="item">
                            <a href="event-details.html"><img class="img-fit" src="{% static 'assets/images/carousellimg5.jpg'%}" alt=""></a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="coming-events">
        <!-- the seven provinces listed // old coming events -->
        <div class="left-button">
            <div class="main-white-button">
                <a href="{% url 'discover' %}">Watch Genres</a>
            </div>
        </div>

        <!-- the seven provinces listed -->
        <div class="container">
            <div class="row">
            
                <h1 class="add-white mb-3 justify-content-center"> || IMMERSE INTO THE RICHNESS OF OUR 7 PROVINCES ||</h1>
                
                <!-- single card start -->
                <!-- <div class="col-lg-3 ml-5 mb-3">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="province1.html"><img class="img-fit" size="20px" src="{% static 'assets/images/shrayimg1.jpg'%} " alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="province1.html"><h4>KOSHI </h4></a>
                            <ul>
                                <li style="text-align: center;">Province One | The Land of Himalayas</li>
                                <li><i class="fa fa-map-marker"></i> Biratnagar [Capital] </li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <!-- single card start -->
                {% for province in provinces %}
                <div class="col-lg-3 ml-5 mb-3">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="{% url "province" province.name %}"><img class="img-fit" size="20px" src="{{province.image.url}}" alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="{% url "province" province.name %}"><h4>{{province.name}} </h4></a>
                            <ul>
                                <li style="text-align: center;">{{province.description}}</li>
                                <li><i class="fa fa-map-marker"></i> {{province.capital}} [Capital] </li>
                            </ul>
                        </div>
                    </div>
                </div>

                {% endfor %}

                <!-- <div class="col-lg-3 ml-5">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="province2.html"><img class="img-fit" size="20px" src="{% static 'assets/images/shrayimg6.jpg'%} " alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="province2.html"><h4>MADHESH </h4></a>
                            <ul>
                                <li style="text-align:center;">Province Two | The Land of Mithila Art</li>
                                <li><i class="fa fa-map-marker"></i> Janakpur [Capital]</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 ml-5">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="province3.html"><img class="img-fit" size="20px" src="{% static 'assets/images/shrayimg2.jpg'%} " alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="province3.html"><h4>BAGMATI </h4></a>
                            <ul>
                                <li style="text-align: center;">Province Three | The Land of Diverse Streets</li>
                                <li><i class="fa fa-map-marker"></i> Hetauda [Capital]</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="province4.html"><img class="img-fit" size="20px" src="{% static 'assets/images/shrayimg3.jpg'%} " alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="province4.html"><h4>GANDAKI</h4></a>
                            <ul>
                                <li style="text-align: center;">Province Four | The Land of Lakes, Mountains and Adventure</li>
                                <li><i class="fa fa-map-marker"></i> Pokhara [Capital]</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="province5.html"><img class="img-fit" size="20px" src="{% static 'assets/images/shrayimg4.jpg'%} " alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="province5.html"><h4>LUMBINI</h4></a>
                            <ul>
                                <li style="text-align: center;">Province Five | The Birth Place of Gautam Buddha</li>
                                <li><i class="fa fa-map-marker"></i> Deukhuri [Capital]</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="province6.html"><img class="img-fit" size="20px" src="{% static 'assets/images/shrayimgxx.jpg'%} " alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="province6.html"><h4>KARNALI </h4></a>
                            <ul>
                                <li style="text-align: center;">Province Six | The Land of Spirituality</li>
                                <li><i class="fa fa-map-marker"></i> Birendranagar [Capital]</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="event-item">
                        <div class="thumb">
                            <a href="province7.html"><img class="img-fit" size="20px" src="{% static 'assets/images/shrayimgxxx.jpg'%} " alt=""></a>
                        </div>
                        <div class="down-content">
                            <a href="province7.html"><h4>SUDURPASCHIM </h4></a>
                            <ul>
                                <li style="text-align: center;">Province Seven | The Land of Numerous National Parks</li>
                                <li><i class="fa fa-map-marker"></i> Godawari [Capital]</li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                
            </div>
        </div>
    </div>
    
    <!-- *** About Us ***-->
    <div id="about">
    <div class="amazing-venues">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="left-content">
                        <h4>ABOUT US<br></h4>
                        <p>
                            <br>At NepaShray, our mission is to showcase the diverse and enchanting tapestry of Nepal's seven provinces. With a keen focus on art, culture, music, biodiversity, food, and more, we bring you a unique and immersive experience that captures the essence of each province.<br>
                            
                            <br><br><b>{ What Sets Us Apart }<br><br></b>
                            Student-Crafted Excellence:<br> Our team, passionate about storytelling, combines academic prowess with a creative flair to present Nepal like never before.<br>
                            
                            <br>Seven Provinces, Infinite Stories:<br> Explore the richness of each province through engaging narratives, visual masterpieces, and firsthand experiences shared by our community.<br>
                            
                            <br>Interactive Engagement:<br> NepaShray is not just a platform to view stories but a space for you to contribute. Share your own tales, perspectives, and experiences to enrich our collective narrative.<br>
                            
                            <br>Join us in this captivating journey of discovery and connection. <br><b>NepaShray - Where Stories Unfold.</b>
                        </p>
                    </div>
                </div>
                <!-- <div class="col-lg-3">
                    <div class="right-content">
                        <h5><i class="fa fa-map-marker"></i> Visit Us</h5>
                        <span>5 College St NW, <br>Norcross, GA 30071<br>United States</span>
                        <div class="text-button"><a href="show-events-details.html">Need Directions? <i class="fa fa-arrow-right"></i></a></div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>


    <!-- *** Map ***
    <div class="map-image">
      
        <img src="assets/images/street.jpg" alt="Map of Nepal">
    </div>


    <!- *** Venues & Tickets ***-->

    <!-- latest postss nepashray -->
    <div id="latests">
     <div class="venue-tickets"> 
         <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>LATEST POSTS</h2>
                    </div>




                    <!-- following post will be listed from database as the user uploads it, for the instance, it is manually inserted -->






                </div>
                <div class="col-lg-4">
                    <div class="venue-item">
                        <div class="thumb">
                            <img src="{% static 'assets/images/trek.jpg'%}" alt="">
                        </div>
                        <div class="down-content">
                            <div class="left-content">
                                <div class="main-white-button">
                                    <a href="viewpage.html">VIEW</a>
                                </div>
                            </div>
                            <div class="right-content">
                                
                                <h4>TREK TO SIKLES</h4>
                                <div class="price">
                                    <span>posted<br>by <b>Nisha Rai</b></span>
                                </div>

                                <p>See Sikle with Nisha like never before with various stories covered along with adventures.</p>
                                <ul>
                                    <li><i class="fa fa-thumbs-up"></i>250</li>
                                    <li><i class="fa fa-eye"></i>500</li>
                                </ul>
                                <!-- <div class="price">
                                    <span>1 ticket<br>from <em>$45</em></span>
                                </div> -->
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="venue-item">
                        <div class="thumb">
                            <img src="{% static 'assets/images/foood.jpg'%}" alt="">
                        </div>
                        <div class="down-content">
                            <div class="left-content">
                                <div class="main-white-button">
                                    <a href="viewpage.html">VIEW</a>
                                </div>
                            </div>
                            <div class="right-content">
                                
                                <h4>TAPLEJUNG CUISINES</h4>
                                <div class="price">
                                    <span>posted<br>by <b>Avyant Malla</b></span>
                                </div>

                                <p>People of the hills and their rich food culture! Join Avyant on this flavourful food journey!</p>
                                <ul>
                                    <li><i class="fa fa-thumbs-up"></i>270</li>
                                    <li><i class="fa fa-eye"></i>400</li>
                                </ul>
                                <!-- <div class="price">
                                    <span>1 ticket<br>from <em>$45</em></span>
                                </div> -->
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="venue-item">
                        <div class="thumb">
                            <img class="image-contain" src="{% static 'assets/images/sarrr.jpg' %}" alt="">
                        </div>
                        <div class="down-content">
                            <div class="left-content">
                                <div class="main-white-button">
                                    <a href="viewpage.html">VIEW</a>
                                    <!-- mathiko view need to change link -->
                                </div>
                            </div>
                            <div class="right-content">
                                
                                <h4>SARANGI KA DHUN</h4>
                                <div class="price">
                                    <span>posted<br>by <b>Yunesh Gandarva</b></span>
                                </div>

                                <p>The soothing nepali folk music! Join Yunesh and have a delightful musical experience for a good mood!</p>
                                <ul>
                                    <li><i class="fa fa-thumbs-up"></i>280</li>
                                    <li><i class="fa fa-eye"></i>500</li>

                                </ul>
                                <!-- <div class="price">
                                    <span>1 ticket<br>from <em>$45</em></span>
                                </div> -->
                            </div> 
                        </div>
                    </div>
                </div>
                </div>




    <!-- *** Footer *** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="address">
                        <h4>OFFICE ADDRESS</h4>
                        <span>Newroad, Kathmandu<br>Nepal.</span>
                    </div>
                </div>

            
               
                <div class="col-lg-12">
                    <div class="sub-footer">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="logo"><a href="{% url 'index' %}"><span>NEP<em>ASHRAYA</em></span></a></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="menu">
                                    <ul>
                                        <nav>
                                            <li><a href="{% url 'index' %}" class="active">Home</a></li>
                                            <li><a href="#about">About Us</a></li>
                                            <!-- need to change upper amazing venues to about us here and below later -->
                
                                            <li><a href="#latests">Explore Latests</a></li>
                                            <li><a href="{% url 'discover' %}">Discover More</a></li>
                
                                            <li><a href="{% url 'register' %}">Register</a></li> 
                                        </nav>
                                    </ul>
                                </div>
                            </div>
                            <!-- <div class="col-lg-3">
                                <div class="social-links">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    <script src="assets/js/mixitup.js"></script> 
    <script src="assets/js/accordions.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

  </body>
</html>