{% include 'header.html' %} {% load static %}
<div class="row">
  {% for post in posts %}
  {% if post.is_verified %}
  <div class="col-lg-4">
    <div class="venue-item">
      {% for image in post.t_image_set.all %}
      <div class="thumb" style="object-fit: cover;">
        <img src="{{ image.image.url }}" alt="{{post.title}}" />
      </div>
      {% endfor %}
      <div class="down-content">
        <div class="left-content">
          <div class="main-white-button">
            <a href="viewpage.html">VIEW</a>
          </div>
        </div>
        <div class="right-content" style="height: 350px;">
          <h4>{{ post.title| slice:50 }}</h4>
          <!-- posted by can be added here later on -->
          <p>{{ post.long_description | slice:"200" }}</p>
          <ul>
            <li><i class="fa fa-thumbs-up"></i>250</li>
            <li><i class="fa fa-eye"></i>500</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
