{% include 'header.html' %} {% load static %}
<div class="row">
  {% for post in posts %}
  <div class="col-lg-4">
    <div class="venue-item">
      {% for image in post.t_image_set.all %}
      <div class="thumb" style="object-fit: cover;">
        <img src="{{ image.image.url }}" alt="sujan" />
      </div>
      {% endfor %}
      <div class="down-content">
        <div class="left-content">
          <div class="main-white-button">
            <a href="viewpage.html">VIEW</a>
          </div>
        </div>
        <div class="right-content">
          <h4>{{ post.title }}</h4>
          <div class="price">
            <span>posted<br />by <b> sujan sapkota</b></span>
          </div>
          <p>{{ post.long_description | slice:"100" }}</p>
          <ul>
            <li><i class="fa fa-thumbs-up"></i>250</li>
            <li><i class="fa fa-eye"></i>500</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
