{%load static%}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tooplate">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Koshi By Nepashray</title>

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/tooplate-artxibition.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">



    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <!-- <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div> -->
    <!-- ***** Preloader End ***** -->
    
    <!-- ***** Pre HEader ***** -->
    <div class="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <span>Hey, thanks for choosing Koshi Pradesh!</span>
                </div>

                
                <div class="col-lg-6 col-sm-6">
                    <div class="text-button">
                        <a href="contactpage.html">Contact Now <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">KOSHI<em>PRADESH</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <!-- new commented dec 5 -->
                        <!-- <ul class="nav">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="rent-venue.html">Explore Latests</a></li>
                            <li><a href="discover.html">Discover More</a></li>
                            <li><a href="shows-events.html">Register</a></li>
                             -->
                            <!-- unto upper -->
                            <!-- <li><a href="shows-events.html" class="active">Register</a></li>  -->
                            <!-- <li><a href="tickets.html">Tickets</a></li>  -->
                        <!-- <!-- </ul>         -->
                        <!-- <a class='menu-trigger'>
                            <span>Menu</span>
                        </a> --> 
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** About Us Page ***** -->
    <div class="page-heading-rent-venue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>The Eastern Enchantment of Koshi</h2>
                    <span> LAP OF HIMALAYAS</span>
                </div>
            </div>
        </div>
    </div>

    <div class="shows-events-schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>- DIVE INTO THE GENRES -</h2>
                    </div>
                </div>
                <!-- here change to 12 below shray --><!-- single card start -->
                <!-- CARD 1 -->
                <!-- new comment form here -->

            <!-- <div class="genre">  -->


                <!-- flip-card-container -->
                <!-- <div class=" container">
                <div class="  "> -->
<!-- <div class="flip-card-container" style="--hue: 220">
    <div class="flip-card">
  
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="assets/images/art.jpg">
          <figcaption>ART & CULTURE</figcaption>
        </figure>
  
        <ul>
          <li>Expression</li>
          <li>Creativity</li>
          <li>Aesthetics</li>
          
          
        </ul>
      </div>
  
      <div class="card-back">
        <figure>
          <div class="img-bg"></div>
          <img src="assets/images/art.jpg">
        </figure>
  
        <button>V I E W</button>
  
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
  
    </div>
  </div> -->
  <!-- /flip-card-container -->

  <div class="container row">
    <div class ="col-md-4">
        <div class="flip-card-container" style="--hue: 220">
            <div class="flip-card">
          
              <div class="card-front">
                <figure>
                  <div class="img-bg"></div>
                  <img src="{% static 'assets/images/art.jpg'%}">
                  <figcaption>ART & CULTURE</figcaption>
                </figure>
          
                <ul>
                  <li>Expression</li>
                  <li>Creativity</li>
                  <li>Aesthetics</li>
                  
                  
                </ul>
              </div>
          
              <div class="card-back">
                <figure>
                  <div class="img-bg"></div>
                  <img src={% static 'assets/images/art.jpg'%}">
                </figure>
          
                <button>V I E W</button>
          
                <div class="design-container">
                  <span class="design design--1"></span>
                  <span class="design design--2"></span>
                  <span class="design design--3"></span>
                  <span class="design design--4"></span>
                  <span class="design design--5"></span>
                  <span class="design design--6"></span>
                  <span class="design design--7"></span>
                  <span class="design design--8"></span>
                </div>
              </div>
          
            </div>
          </div>
    </div>

    <div class ="col-md-4">
        <div class="flip-card-container" style="--hue: 220">
            <div class="flip-card">
          
              <div class="card-front">
                <figure>
                  <div class="img-bg"></div>
                  <img src="assets/images/lifestyle.jpg">
                  <figcaption>LIFESTYLE</figcaption>
                </figure>
          
                <ul>
                  <li>People</li>
                  <li>Markets</li>
                  <li>Aura</li>
                  
                  
                </ul>
              </div>
          
              <div class="card-back">
                <figure>
                  <div class="img-bg"></div>
                  <img src="assets/images/lifestyle.jpg">
                </figure>
          
                <button>V I E W</button>
          
                <div class="design-container">
                  <span class="design design--1"></span>
                  <span class="design design--2"></span>
                  <span class="design design--3"></span>
                  <span class="design design--4"></span>
                  <span class="design design--5"></span>
                  <span class="design design--6"></span>
                  <span class="design design--7"></span>
                  <span class="design design--8"></span>
                </div>
              </div>
          
            </div>
          </div>
    </div>

  



  <div class ="col-md-4">
    <div class="flip-card-container" style="--hue: 220">
        <div class="flip-card">
      
          <div class="card-front">
            <figure>
              <div class="img-bg"></div>
              <img src="assets/images/bioo.jpg">
              <figcaption>BIODIVERSITY</figcaption>
            </figure>
      
            <ul>
              <li>Wildlife</li>
              <li>Flora</li>
              <li>Bird-Watching</li>
              
              
            </ul>
          </div>
      
          <div class="card-back">
            <figure>
              <div class="img-bg"></div>
              <img src="assets/images/bioo.jpg">
            </figure>
      
            <button>V I E W</button>
      
            <div class="design-container">
              <span class="design design--1"></span>
              <span class="design design--2"></span>
              <span class="design design--3"></span>
              <span class="design design--4"></span>
              <span class="design design--5"></span>
              <span class="design design--6"></span>
              <span class="design design--7"></span>
              <span class="design design--8"></span>
            </div>
          </div>
      
        </div>
      </div>
</div>


<div class ="col-md-4">
    <div class="flip-card-container" style="--hue: 220">
        <div class="flip-card">
      
          <div class="card-front">
            <figure>
              <div class="img-bg"></div>
              <img src="assets/images/musicc.jpg">
              <figcaption>MUSIC</figcaption>
            </figure>
      
            <ul>
              <li>Folk Nepali</li>
              <li>Traditional</li>
              <li>Modern</li>
              
              
            </ul>
          </div>
      
          <div class="card-back">
            <figure>
              <div class="img-bg"></div>
              <img src="assets/images/musicc.jpg">
            </figure>
      
            <button>V I E W</button>
      
            <div class="design-container">
              <span class="design design--1"></span>
              <span class="design design--2"></span>
              <span class="design design--3"></span>
              <span class="design design--4"></span>
              <span class="design design--5"></span>
              <span class="design design--6"></span>
              <span class="design design--7"></span>
              <span class="design design--8"></span>
            </div>
          </div>
      
        </div>
      </div>
</div>



<div class ="col-md-4">
    <div class="flip-card-container" style="--hue: 220">
        <div class="flip-card">
      
          <div class="card-front">
            <figure>
              <div class="img-bg"></div>
              <img src="assets/images/phootoo.jpg">
              <figcaption>PHOTO-GALLERY & STREET CULTURE</figcaption>
            </figure>
      
            <ul>
              <li> Documented Photographs</li>
              <li>Graffiti</li>
              <li>Alleys</li>
              
              
            </ul>
          </div>
      
          <div class="card-back">
            <figure>
              <div class="img-bg"></div>
              <img src="assets/images/phootoo.jpg">
            </figure>
      
            <button>V I E W</button>
      
            <div class="design-container">
              <span class="design design--1"></span>
              <span class="design design--2"></span>
              <span class="design design--3"></span>
              <span class="design design--4"></span>
              <span class="design design--5"></span>
              <span class="design design--6"></span>
              <span class="design design--7"></span>
              <span class="design design--8"></span>
            </div>
          </div>
      
        </div>
      </div>
</div>

  

 
  <!-- flip-card-container -->
  <div class="col-md-4">
  <div class="flip-card-container" style="--hue: 350">
    <div class="flip-card">
  
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="assets/images/food.jpg">
          <figcaption>FOOD DELICACIES</figcaption>
        </figure>
  
        <ul>
    
          <li>Cultural</li>
          <li>Exotic</li>
          <li>Unique Desserts</li>
        </ul>
      </div>
  
      <div class="card-back">
        <!-- only if the image is necessary -->
        <figure>
          <div class="img-bg"></div>
          <img src="assets/images/food.jpg">
        </figure>
  
        <button>V I E W</button>
  
        <!-- can add svg here and remove these eight spans -->
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
  
    </div>
  </div>
  </div>


  <!-- flip-card-container -->
  <dic class="col-md-4">
  <div class="flip-card-container" style="--hue: 350">
    <div class="flip-card">
  
      <div class="card-front">
        <figure>
          <div class="img-bg"></div>
          <img src="assets/images/uu.jpg">
          <figcaption>HISTORY</figcaption>
        </figure>
  
        <ul>

          <li>Untold Stories</li>
          <li>Architecture and Palaces</li>
          <li>Attires</li>
        </ul>
      </div>
  
      <div class="card-back">
        <!-- only if the image is necessary -->
        <figure>
          <div class="img-bg"></div>
          <img src="assets/images/uu.jpg">
        </figure>
  
        <button>V I E W</button>
  
        <!-- can add svg here and remove these eight spans -->
        <div class="design-container">
          <span class="design design--1"></span>
          <span class="design design--2"></span>
          <span class="design design--3"></span>
          <span class="design design--4"></span>
          <span class="design design--5"></span>
          <span class="design design--6"></span>
          <span class="design design--7"></span>
          <span class="design design--8"></span>
        </div>
      </div>
  
    </div>
  </div>
</div>

  </div>
  
  
                    

                    <div class="sub-footer">
                        <div class="row"> 
                            <div class="col-lg-12 ">
                                <div class="logo" justify-content-center><span>PROVINCE<em>ONE</em></span></div>
                            </div>

                            <!-- newyy commented 5 dec just for now  -->
                            <!-- <div class="col-lg-12">
                                <div class="menu">
                                    <ul>
                                        <li><a href="index.html" class="active">Home</a></li>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="rent-venue.html"> Explore Latests</a></li>
                                        <li><a href="shows-events.html">Register</a></li> 
                                        <li><a href="tickets.html">Tickets</a></li> 
                                    </ul>
                                </div>
                            </div> -->

                            <!-- upto here dec 5 -->


                            <!-- <div class="col-lg-12"> 
                                <div class="social-links">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>  -->
     </footer>
    
    

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>
    
    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    
    <!-- Plugins -->
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script> 
    <script src="{% static 'assets/js/mixitup.js' %}"></script> 
    <script src="{% static 'assets/js/accordions.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    
    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js'%}"></script>

  </body>

</html>
